@font-face {
  font-family: 'SiYuanSong';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-Black.otf') format('opentype');
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-Black.woff2') format('woff2');
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SiYuanSong';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-SemiBold.otf') format('opentype');
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-SemiBold.woff2') format('woff2');
    url('https://cdn.jsdelivr.net/gh/aornus/aornus.github.io@1.2/css/fonts/Noto_Serif_SC/NotoSerifSC-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'SiYuanSong', serif;
}

