#article-container h1:before {
    font-family: "iconfont";
    content: "\e601";
  }

#article-container h2:before {
    font-family: "iconfont";
    content: "\e602";
    margin-left: -24px;
    font-size: 18px;
  }

#article-container h3:before {
    font-family: "iconfont";
    content: "\e608";
    margin-left: -22px;
    font-size: 16px;
  }

#article-container h4:before {
    font-family: "iconfont";
    content: "\e603";
    margin-left: -20px;
    font-size: 14px;
  }

#article-container h5:before {
    font-family: "iconfont";
    content: "\e609";
  }

#article-container h6:before {
  font-family: "iconfont";
  content: "\e605";
}

#article-container h1:after,
#article-container h2:after,
#article-container h3:after,
#article-container h4:after,
#article-container h5:after,
#article-container h6:after {
  font-family: "iconfont";
  content: "\e640";
}

#article-container h1,
#article-container h2,
#article-container h3,
#article-container h4,
#article-container h5,
#article-container h6 {
  font-family: "Helvetica Neue", helvetica, arial, "Heti Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {    box-shadow: 0px 0px 0px;} */
.layout { max-width: 1350px;}
#article-container blockquote:before {
    font-family: "iconfont";
    content: "\e600";
    font-size: 24px;
  }

/* 段落首行缩进两个字符，但会导致其他内容出现问题 */
  /* 
#article-container p{
  text-indent: 2em;
  }  */

#recent-posts > .recent-post-item, {
    box-shadow: none!important;
    border-radius: 16px;
    box-sizing: border-box;
  }

:root{
  --card-box-shadow: 0 0px 1px 0.6px rgba(0,0,0,0.5)
}